
layout {
    tab_template name="full_tab" {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    full_tab name="System" {
        pane
    }
    full_tab name="Editor" cwd="/home/changfeng/workspace" {
        pane 
    }
    full_tab name="Terminal" {
        pane split_direction="vertical" {
            pane
            pane
        }
    }
    full_tab name="Files" {
        pane focus=true {
            command "joshuto"
        }
    }
    full_tab name="Performance" {
        pane focus=true {
            command "btop"
        }
    }
}

