layout {
    tab_template name="full_tab" {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    full_tab name="Local" {
        pane split_direction="vertical" {
            pane focus=true
            pane size="30%"
        }
    }
    full_tab name="Editor" cwd="/home/changfeng/workspace/shuimu" {
        pane size="70%" focus=true 
        pane 
    }
    full_tab name="Terminal" cwd="/home/changfeng/workspace/shuimu" {
        pane 
    }
    full_tab name="Remote" {
        pane split_direction="vertical" {
            pane focus=true
            pane size="30%"
        }
    }
    full_tab name="Performance" {
        pane focus=true {
            command "btop"
        }
    }
}

