layout {
    tab_template name="full_tab" {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    full_tab name="System" {
        pane split_direction="vertical" {
            pane focus=true
            pane size="40%"
        }
    }
    full_tab name="Editor" cwd="/home/changfeng/workspace/shuimu" {
        pane 
    }
    full_tab name="Build" cwd="/home/changfeng/workspace/shuimu" {
        pane split_direction="vertical" {
            pane
            pane
        }
    }
    full_tab name="Test" cwd="/home/changfeng/workspace/shuimu" {
        pane split_direction="vertical" {
            pane {
                pane
                pane
            }
            pane {
                pane
                pane
            }
        }
    }
    full_tab name="Docker" cwd="/home/changfeng/workspace/shuimu" {
        pane 
    }
    full_tab name="Remote" cwd="/home/changfeng/workspace/shuimu" {
        pane 
    }
    full_tab name="Files" cwd="/home/changfeng/workspace/shuimu" {
        pane focus=true {
            command "joshuto"
        }
    }
    full_tab name="Performance" {
        pane focus=true {
            command "btop"
        }
    }
}

