themes {
    catppuccin-latte {
      bg "#acb0be"
      fg "#acb0be"
      red "#d20f39"
      green "#40a02b"
      blue "#1e66f5"
      yellow "#df8e1d"
      magenta "#ea76cb"
      orange "#fe640b"
      cyan "#04a5e5"
      black "#4c4f69"
      white "#dce0e8"
    }
}
